<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <ng-container *ngIf="isLoading">
        <div class="p-2">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!isLoading">
        <div>
            <h1>Text to Base64 string</h1>
        </div>
        <div class="p-4">
            <form [formGroup]="inputForm" (ngSubmit)="onFormSubmit()">
                <div class="input-group">
                    <button type="button" *ngIf="isProcessing && !isComplete" class="btn btn-outline-primary" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
                    <input type="text" formControlName="inputValue" [readonly]="isProcessing" class="form-control" placeholder="Enter Text..." aria-label="Enter Text..." aria-describedby="button-convert">
                    <button type="submit" *ngIf="!isProcessing || isComplete" [disabled]="!inputForm.valid || isProcessing" class="btn btn-primary" id="button-convert">Convert</button>
                    <button type="button" *ngIf="isProcessing && !isComplete" (click)="onCancel()" class="btn btn-danger close" aria-label="Cancel">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </form>
        </div>
        <div class="p-4">
            <div class="form-floating">
                <textarea class="form-control" id="textOutput" style="height: 100px">{{ (base64$ | async) ? output : ''}}</textarea>
                <label for="textOutput"><strong>Output:</strong></label>
            </div>
        </div>
    </ng-container>
</div>